<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hipstafy your text!</h1>
    <form method="POST" action="/hippy">
      <textarea name="hippy" rows="8" cols="55"></textarea>
      <input type="submit" name="submit" value="hipstafy">
    </form>
  </body>
</html>
